*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    width: 100vw;
    height: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.header-heading{
    font-size: 34px;
    font-weight: 200;
}