.App-container{
  text-align: center;
  background: linear-gradient(to bottom right, rgba(243, 200, 10, 0.65), rgba(235, 142, 20, 0.65));
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/417045/pexels-photo-417045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
  z-index: -1;
  position: absolute;
  top: 0;
}
